[submodule "src/dua_app_management"]
	path = src/dua_app_management
	url = git@github.com:dotX-Automation/dua_app_management.git
	branch = master
[submodule "src/dua_interfaces"]
	path = src/dua_interfaces
	url = git@github.com:dotX-Automation/dua_interfaces.git
	branch = master
[submodule "src/dua_node"]
	path = src/dua_node
	url = git@github.com:dotX-Automation/dua_node.git
	branch = master
[submodule "src/dua_qos"]
	path = src/dua_qos
	url = git@github.com:dotX-Automation/dua_qos.git
	branch = master
[submodule "src/dua_structures"]
	path = src/dua_structures
	url = git@github.com:dotX-Automation/dua_structures.git
	branch = master
